@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}



.icon-twitter:before { content: '\e804'; } /* 'î „' */
.icon-skype:before { content: '\e803'; } /* 'î ƒ' */
.icon-linkedin:before { content: '\e805'; } /* 'î …' */
.icon-github:before { content: '\e801'; } /* 'î ' */

.icon-paper-plane:before { content: '\e806'; } /* 'î †' */
body {font-size: .85em;}
header {position: fixed; background: #fff; color: #fff; height: 90px; width: 100%; z-index: 100}
header h1 {width: 95px; height: 91px; text-indent: -999em; display: block; position: absolute; top: 0px; left: 10px; background: transparent url('images/logo.png') center center no-repeat;}

.step-1 a {background: #ffffff}
.step-2 a {background: #1abc9c}
.step-3 a {background:#e74c3c}
.step-4 a {background: #9b59b6}

section {height: 1000px; width: 100%; z-index: 7; }
#skrollr-body, #m-box--front-end-elements, #m-box--webdesigner-elements, #m-box--about-elements {position: fixed; width: 1000px; left: 50%; margin-left: -500px;  top: 0; height: 1000px;overflow: hidden;}
#image-me {
position: fixed;
top:0;
right:-5%;
height: 100%;
}
#body {max-width: 1000px; margin: 0 auto;  height: 1000px; display: block; z-index: 1;}
article {max-width: 1000px; margin: 0 auto; height: 1000px; display: block; }
article p {position: relative; z-index: 20}
article, .tips {font-family: 'Lato', sans-serif; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.list-intro{font-family: 'Lato', sans-serif; font-size: .9em;}
strong {font-weight: 700;}
/*#body {background: transparent url('images/nude.png') center 40% no-repeat; position: fixed;width: 1000px; left: 50%; margin-left: -500px;}*/
#skrollr-body.bonus {background: transparent url('images/nude-bonus.png') center 40% no-repeat;}
#m-box--front-end {background-color: #1abc9c; }
#m-box--about {background: #9b59b6 url('images/bg-contact.gif') top center fixed no-repeat }
#m-box--front-end p, #m-box--presentation p, #m-box--webdesigner p, #m-box--about p {color: white; padding: 0 0 .7em 1.5em; font-size: 1.3em; font-weight: 300; line-height: 1.6em; width: 355px; }
#m-box--presentation article {}
#m-box--about article {}
#m-box--front-end p, #m-box--front-end a {color: #9ad7d6;}
#m-box--webdesigner p, #m-box--webdesigner a{color: #fae2be;}
#m-box--about p, #m-box--about a {color: #f8f1e1;}
#m-box--presentation p {
  color: #8a8a8a; padding: 0 1em 1.5em 1em;
}
#m-box--front-end p:first-child, #m-box--presentation p:first-child, #m-box--webdesigner p:first-child, #m-box--about p:first-child {
  border-left: 3px solid white;
  padding-top: 240px;
  font-size: 2.7em;
  line-height: 1.3em;
  margin: 0 0 1em;
  padding: 180px 0 .5em .6em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
}

#donators .donators-title {
  border-left: 3px solid white;
  font-size: 2.7em;
  line-height: 1.3em;
  margin: -2em 0 1em;
  padding: 150px 0 .5em .6em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  width: 500px;

}

#m-box--presentation p:first-child {
  color: #8a8a8a;
  border-left: 0 none;
  font-size: 3.5em;
  margin-bottom: .2em;
  padding-left: .3em
}

#m-box--webdesigner {background-color:#e74c3c; }
#m-box--front-end ul {float: right; margin: 405px 50px 0 0;}
#m-box--front-end-elements .list-intro {color: #0e6261;}
#m-box--webdesigner-elements .list-intro {color: #1abc9c}

@-webkit-keyframes shaker {
  0% {
    -webkit-transform:rotate(2deg);
  }
  100% {
    -webkit-transform:rotate(-2deg);
  }
}

@-moz-keyframes shaker {
  0% {
    -moz-transform:rotate(2deg);
  }
  100% {
    -moz-transform:rotate(-2deg);
  }
}

.dialog {position: absolute; top: 110px; left: 210px; width: 208px; height: 72px; z-index: 22; background: transparent url('images/dialog.png') 0 0 no-repeat; padding: 20px 10px 10px; font-family: 'Lato', sans-serif;
}

.m-list-accessories li{display: block; position: absolute;}
.elements { display: block; position: absolute;}
.elements a {width: 100%; height: 100%; display: block; text-indent: -999em}
.clothes {z-index: 11;}
.censor {width:320px;  height: 160px; margin-left: -91px; z-index: 22 !important;background: transparent url('../images/mustache.png') 0 0 no-repeat; z-index: 11; position: fixed;}
.tshirt {width:951px;  height: 259px; background: transparent url('../images/github2.jpg') 0 0 no-repeat; z-index: 9;}
.tshirt:hover, .headphones:hover, .blog:hover, .bubble:hover, .twitter:hover, .poster:hover, .shirt:hover {
  cursor: pointer;
  -moz-animation-name: shaker;
  -moz-animation-duration: .1s;
  -moz-animation-iteration-count: 3;
  -webkit-animation-name: shaker;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 3;
}
.jean {width:105px;  height: 321px; background: transparent url('images/jean.png') 0 0 no-repeat; z-index: 10;}
.shoes {width: 115px; height: 47px; background: transparent url('images/converse.png') 0 0 no-repeat; z-index: 9;}
.icon {text-indent: -999em; display: block;}
.octocat {width: 120px; height: 120px; background: transparent url('../images/octocat.jpg') 0 0 no-repeat; z-index: 9; }
.rails {width: 225px; height: 60px; background: transparent url('../images/rails.png') 0 0 no-repeat; z-index: 9;}
.tea {width: 69px; height: 91px; background: transparent url('images/tea.gif') 0 0 no-repeat; z-index: 9;}
.headphones {width: 79px; height: 73px; background: transparent url('images/headphones.gif') 0 0 no-repeat; z-index: 9;}
.bubble {width: 420px; height: 400px; background: transparent url('../images/boubble4.png') 0 0 no-repeat; z-index: 9;}
.basket-bottom {width: 116px; height: 135px; background: transparent url('images/short.png') 0 0 no-repeat; z-index: 9;}
.shoes-up {width: 115px; height: 100px; background: transparent url('images/converse-high.png') 0 0 no-repeat; z-index: 10;}
.macbook {width: 252px; height: 199px; background: transparent url('images/macbook.gif') 0 0 no-repeat; z-index: 9;}
.blog {width: 139px; height: 90px; background: transparent url('images/blog.gif') 0 0 no-repeat; z-index: 9;}
.poster {width: 138px; height: 196px; background: transparent url('images/poster.png') 0 0 no-repeat; z-index: 9;}
.twitter {width: 300px; height: 84px; background: transparent url('images/twitter.gif') 0 0 no-repeat; z-index: 7;}
.sponge {width: 43px; height: 8px; background: transparent url('images/sponge.png') 0 0 no-repeat; z-index: 9;}
.shirt {width: 155px; height: 247px; background: transparent url('') 0 0 no-repeat; z-index: 9;}

.trousers {width: 108px; height: 294px; background: transparent url('images/trousers.png') 0 0 no-repeat; z-index: 10; }
.shoes-about {width: 115px; height: 48px; background: transparent url('images/converse-about.png') 0 0 no-repeat; z-index: 9;}
.lettering {width: 200px; height: 150px; background: transparent url('images/lettering.gif') 0 0 no-repeat; z-index: 9;}

#donators {background: #f1c40f; opacity: 0.9; position: relative; z-index: 12; color: white;font-family: 'Lato'; font-weight: 300; text-align: center; padding: 2.5em 0 2.5em; overflow: hidden}
footer {background: #f1c40f; position: relative; z-index: 12; color: white;font-family: 'Lato'; font-weight: 300; text-align: center; padding: 2.5em 0 2.5em; overflow: hidden}
footer ul, nav ul, .opt-nav-mobile {text-align: center; margin: 1em 0 0;}
footer li, nav li, .opt-nav li, .opt-nav-mobile li {display: inline-block; margin: 0 .5em; font-size: 1.1em; line-height: 1}
footer a {color: white;}
nav li a {color: #444;}
.opt-nav {border-top: 1px solid white; margin: 2em 0 0; padding: 1.5em 0 0; overflow: hidden;  text-align: center; }
.opt-nav-mobile {border-top: 1px solid #ccc;margin: 2em 0 0; padding: 1.5em 0 0; font-size: 1.5em; }
.opt-nav li, .opt-nav-mobile li {margin: 0 .15em;}
.opt-nav a, .opt-nav-mobile a {color: #ddd;}
nav li {margin: 0 .25em 0 0;}
nav a {width: 15px; height: 15px; border-radius: 50%; display: block; border: 3px solid #efefef; text-indent:-999em;}
nav ul {position: absolute; text-align: center; top: 15px; right: 15px}
#show-tips a{text-indent: 0; text-align: center; font-family: 'Lato', sans-serif;  text-decoration: none; font-weight: 700; border: 3px solid white; line-height: 1.3em;}
footer span, .opt-nav span, .opt-nav-mobile span {display: block; text-indent: -999em}

.tips {display: none; background: rgba(0, 0, 0, .8); color: white; padding: 10% 30%;  position: fixed; top: 0; left: 0;  z-index: 101; width: 100%; height: 100%; font-size: 1.5em; line-height: 1.9em; font-weight: 300;}
.tips p {margin: 0 0 1em;}
#close {color: white; position: absolute; z-index: 5; top: 10px; right: 10px; font-weight: 700; text-decoration: none}
#m-box--mobile {display: none;}






.progress {
  width: 100%;
  height: 20px;
  z-index: -1;

}

.timeline {
    width: 10px;
    height: 100%;
    background-color: #ffffff;
    left: 0;
    position: fixed;
   z-index: 100;
}



.timeline .color {
  height: 20%;

}

.timeline .color1 {
  background-color: #ffffff;
}

.timeline .color2 {
  background-color:  #1abc9c;
}

.timeline .color3 {
  background-color:  #e74c3c;
}


.timeline .color4 {
  background-color: #9b59b6;
}

.timeline .color5 {
  background-color: #f1c40f;
}





@media only screen and (max-width: 1000px) {
  header, footer, .elements, #skrollr-body, #body, .tips, #m-box--front-end, #m-box--front-end-elements, #m-box--webdesigner-elements, .m-box--container, .m-box #m-box--about-elements, #m-box--webdesigner, #m-box--about, #m-box--presentation {display: none !important; height: auto !important}
  section#m-box--mobile {
    position: relative; 
    display: block; 
    z-index: 1000; 
    width: 90%; 
    text-align: center; 
    padding: 230px 5% 0; 
    color: #444; 
    background: transparent url('images/logo-mobile.png') top center no-repeat; 
    font-family: 'Lato', sans-serif; 
    font-size: 1.2em; 
    height: auto;
    line-height: 1.6em; 
    font-weight: 300;
  }
}

/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso http://codepen.io/Kseso/pen/phiyL **/






* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}



ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
  a:hover {
    text-decoration: underline;
  }

h1, h2, p, a, span{
  color: #fff;
}
  .scnd-font-color {
    color: #9099b7;
  }

.input-container {
  position: relative;
}
  input[type=text]{
    width: 260px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 45px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;   
  }
    input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
        color: #fff;        
      }
    input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;     
      }
    input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
      }
    input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #fff;      
      }
      input[type=text]:focus {
        outline: none; /* removes the default orange border when focus */
        border: 1px solid #11a8ab;
      }
  .input-icon {
    font-size: 22px;
    position: absolute;
    left: 31px;
    top: 10px;
  }
    .input-icon.password-icon {
      left: 35px;
    }

.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  .horizontal-list li {
    float: left;
  }

.clear {
  clear: both;
}

.icon {
  font-size: 25px;
}

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.button {
  display: block;
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
  .button:hover {
    text-decoration: none;
  }

.arrow-btn-container {
  position: relative;
}
  .arrow-btn {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    -webkit-transition: background .3s;
    transition: background .3s;
  }
    .arrow-btn:hover {
      text-decoration: none;
    }
    .arrow-btn.left {
      border-top-left-radius: 5px;
    }
    .arrow-btn.right {
      border-top-right-radius: 5px;
      right: 0;
      top: 0;
    }
    .arrow-btn .icon {
      display: block;
      font-size: 18px;
      border: 2px solid #fff;
      border-radius: 100%;
      line-height: 17px;
      width: 21px;
      margin: 20px auto;
      text-align: center;
    }
      .arrow-btn.left .icon {
        padding-right: 2px;
      }

.profile-picture {
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;  
}
  .big-profile-picture {
    margin: 0 auto;   
    border: 5px solid #50597b;
    width: 150px;
    height: 150px;
  }
  .small-profile-picture {
    border: 2px solid #50597b;
    width: 40px;
    height: 40px;
  }


/** MAIN CONTAINER **/

.main-container {
  font-family: 'Ubuntu', sans-serif;
  width: 950px;
  height: 1725px;
  margin: 6em auto;
} 
  /*********************************************** HEADER ***********************************************/
  header {
    height: 80px;
  }
    .header-menu {
      font-size: 17px;
      line-height: 80px;
    }
      .header-menu li {
        position: relative;
            -webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
      }
        .header-menu-tab {
          padding: 0 27px;
          display: block;
          line-height: 74px;
          font-size: 17px;
          -webkit-transition: background .3s;
          transition: background .3s;
        }
          .header-menu-tab:hover {
            background: #50597b;
            border-bottom: 4px solid #11a8ab;
            text-decoration: none;
          }
          .header-menu-tab .icon {
            padding-right: 15px;
          }
        .header-menu-number {
          position: absolute;
          line-height: 22px;
          padding: 0 6px;
          font-weight: 700;
          background: #e64c65;
          border-radius: 100%;
          top: 15px;
          right: 2px;
          -webkit-transition: all .3s linear;
          transition: all .3s linear;
        }
          .header-menu li:hover .header-menu-number {
            text-decoration: none;
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);

          }
    .profile-menu {
      float: right;
      height: 80px;
      padding-right: 20px;
    }
      .profile-menu p {
        font-size: 17px;
        display: inline-block;
        line-height: 76px;
        margin: 0;
        padding-right: 10px;
      }
        .profile-menu a {
          padding-left: 5px;
        }
          .profile-menu a:hover {
            text-decoration: none;
          }
      .small-profile-picture {
        display: inline-block;
        vertical-align: middle;       
      }
  /** CONTAINERS **/
  .container {
    float: right;
    width: 300px;
  }
    .block {
      margin-bottom: 5px;
      background: #394264;
      border-radius: 5px;
    }
    /******************************************** LEFT CONTAINER *****************************************/
    .left-container {}
      .menu-box {
        height: 360px;
      }
        .menu-box .titular {
          background: #11a8ab;
        }
        .menu-box-menu .icon {
          display: inline-block;
          vertical-align: top;
          width: 28px;
          margin-left: 20px;
          margin-right: 15px;
        }
        .menu-box-number {
          width: 36px;
          line-height: 22px;
          background: #50597b;
          text-align: center;
          border-radius: 15px;
          position: absolute;
          top: 15px;
          right: 15px;
          -webkit-transition: all .3s;
          transition: all .3s;
        }
        .menu-box-menu li{
          height: 60px;
          position: relative;                   
        }
        .menu-box-tab {
          line-height: 60px;
          display: block;
          border-bottom: 1px solid #1f253d;
          -webkit-transition: background .2s;
          transition: background .2s;
        }
          .menu-box-tab:hover {
            background: #50597b;
            border-top: 1px solid #1f253d;
            text-decoration: none;
          }
          .menu-box-tab:hover .icon {
            color: #fff;
          }
          .menu-box-tab:hover .menu-box-number {
            background: #e64c65;
          }
      .donut-chart-block {
        height: 434px;
      }
        .donut-chart-block .titular {
          padding: 10px 0;
        }
        .donut-chart {
          height: 270px;
        }
        /******************************************
        DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL
        ******************************************/
          .donut-chart {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 0 auto 2rem;
            border-radius: 100%
           }
          p.center-date {
            background: #394264;
            position: absolute;
            text-align: center;
            font-size: 28px;
            top:0;left:0;bottom:0;right:0;
            width: 130px;
            height: 130px;
            margin: auto;
            border-radius: 50%;
            line-height: 35px;
            padding: 15% 0 0;
          }
          .center-date span.scnd-font-color {
           line-height: 0; 
          }
          .recorte {
              border-radius: 50%;
              clip: rect(0px, 200px, 200px, 100px);
              height: 100%;
              position: absolute;
              width: 100%;
            }
          .quesito {
              border-radius: 50%;
              clip: rect(0px, 100px, 200px, 0px);
              height: 100%;
              position: absolute;
              width: 100%;
              font-family: monospace;
              font-size: 1.5rem;
            }
          #porcion1 {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }

          #porcion1 .quesito {
              background-color: #11A8AB;
              -webkit-transform: rotate(188deg);
              transform: rotate(188deg);
            }
          #porcion2 {
              -webkit-transform: rotate(76deg);
              transform: rotate(76deg);
            }
          #porcion2 .quesito {
              background-color: #11A8AB;
              -webkit-transform: rotate(140deg);
              transform: rotate(140deg);
            }
          #porcion3 {
              -webkit-transform: rotate(215deg);
              transform: rotate(215deg);
            }
          #porcion3 .quesito {
              background-color: #4FC4F6;
              -webkit-transform: rotate(113deg);
              transform: rotate(113deg);
            }
          #porcionFin {
              -webkit-transform: rotate(-62deg);
              transform:rotate(-62deg);
            }
          #porcionFin .quesito {
              background-color: #FCB150;
              -webkit-transform: rotate(62deg);
              transform: rotate(62deg);
            }
        /******************************************
        END DONUT-CHART by @kseso http://codepen.io/Kseso/pen/phiyL
        ******************************************/
        .os-percentages {
          padding-top: 32px;
        }
        .os-percentages li {
          width: 50%;
          border-left: 1px solid #394264;
          text-align: center;         
          background: #50597b;
        }
          .os {
            margin: 0;
            padding: 10px 0 5px;
            font-size: 15px;    
          }
            .os.ios {
              border-top: 4px solid #e64c65;
            }
            .os.mac {
              border-top: 4px solid #11a8ab;
            }
            .os.linux {
              border-top: 4px solid #fcb150;
            }
            .os.win {
              border-top: 4px solid #4fc4f6;
            }
          .os-percentage {
            margin: 0;
            padding: 0 0 15px 10px;
            font-size: 25px;
          }
      .line-chart-block {
        height: 400px;
      }
        .line-chart {
          height: 200px;
          background: #11a8ab;
        }


.sign-in.button:hover {
background: #cc324b;
}

.sign-in.button {
background: #e64c65;
margin: 0 auto;
}
  
.social {
        height: 40px;
      }
       .social li {
          width: 40px;
          height:40px;                    
        }
          .social li .icon {
            text-align: center;
            font-size: 20px;
            margin: 0;
            line-height: 75px;
          }
          .social li .number {
            text-align: center;
            margin: 0;
            line-height: 34px;
          }
          .social .facebook {
            background: #3468af;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
           .social .facebook .number {
              background: #1a4e95;
              border-bottom-left-radius: 5px;
            }
           .social .twitter {
            background: #4fc4f6;            
          }
           .social .twitter .icon {
              font-size: 18px;
            }
            .social .twitter .number {
              background: #35aadc;
            }
          .social .googleplus {
            background: #e64c65;            
          }
           .social .googleplus .number{
              background: #cc324b;
            }
        .social .mailbox {
            background: #50597b;            
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
            .social .mailbox .number {
              background: #363f61;
              border-bottom-right-radius: 5px;
            }




