body {font-size: .85em;}

section { width: 100%; z-index: 7; }
#skrollr-body, #m-box--flatiron-elements,  #m-box--railsgirls-elements,
#m-box--scholarhip-elements {position: fixed; width: 100%; left: 50%; margin-left: -500px;  top: 0; height: 1000px; overflow: hidden;}
#image-me {
position: fixed;
top:0;
right:-5%;
height: 100%;
}



article {max-width: 1000px; margin: 0 auto; height: 1000px;  }

article p {position: relative; z-index: 20}
article, .tips {font-family: 'Lato', sans-serif; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.list-intro{font-family: 'Lato', sans-serif; font-size: .9em;}
strong {font-weight: 700;}
#m-box--railsgirls {background-color: #1abc9c; }
#m-box--scholarhip {background: #9b59b6 }
#m-box--railsgirls p, #m-box--start p, #m-box--flatiron p, #m-box--scholarhip p {color: white; padding: 0 0 .7em 1.5em; font-size: 1.3em; font-weight: 300; line-height: 1.6em; width: 355px; }

#donators article {height: auto; min-height: 800px;}
#m-box--railsgirls p, #m-box--railsgirls a {color: #d1edec;}
#m-box--flatiron p, #m-box--flatiron a{color: #fae2be;}
#m-box--scholarhip p, #m-box--scholarhip a {color: #f8f1e1;}
#m-box--start p {
  color: #8a8a8a; padding: 0 1em 1.5em 1em;
}
#m-box--railsgirls p:first-child, #m-box--start p:first-child, #m-box--flatiron p:first-child, #m-box--scholarhip p:first-child {
  border-left: 3px solid white;
  padding-top: 240px;
  font-size: 2.7em;
  line-height: 1.3em;
  margin: 0 0 1em;
  padding: 180px 0 .5em .6em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
}

#donators .donators-title {
  border-left: 3px solid white;
  font-size: 2.7em;
  line-height: 1.3em;
  margin: -2em 0 1em;
  padding: 150px 0 .5em .6em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  width: 500px;

}

#m-box--start p:first-child {
  color: #8a8a8a;
  border-left: 0 none;
  font-size: 3.5em;
  margin-bottom: .2em;
  padding-left: .3em
}

#m-box--flatiron {background-color:#e74c3c; }




.m-list-accessories li {display: block; position: absolute;}
.elements { display: block; position: absolute;}
.props {z-index: 11;}
.mustache {width:320px;  height: 200px; margin-left: -91px; z-index: 22 !important;background: transparent url('../images/mustache.png') 0 0 no-repeat; z-index: 11; position: fixed;}
.github {width:951px;  height: 259px; background: transparent url('../images/github2.jpg') 0 0 no-repeat; z-index: 9;}
.icon { display: block; margin-top: -10px}
.octocat {width: 120px; height: 120px; background: transparent url('../images/octocat.jpg') 0 0 no-repeat; z-index: 9; }
.rails {width: 225px; height: 60px; background: transparent url('../images/rails.png') 0 0 no-repeat; z-index: 9;}
.headphones {width: 79px; height: 73px; background: transparent url('') 0 0 no-repeat; z-index: 9;}
.bubble {width: 420px; height: 400px; background: transparent url('../images/bubble.png') 0 0 no-repeat; z-index: 9;}
.basket-bottom {width: 116px; height: 135px; background: transparent url('images/short.png') 0 0 no-repeat; z-index: 9;}
.poster {width: 170px; height: 156px;  z-index: 9;}
.fund-chart {width: 300px; height: 584px;  z-index: 1; }


#donators {
  background: #f1c40f; opacity: 0.9; 
  position: relative; z-index: 12; 
  color: white;
  font-family: 'Lato'; 
  font-weight: 300; 
  text-align: center; 
  padding: 2.5em 0 2.5em; 
  overflow: hidden;
  z-index: 0;
}
footer {background: #f1c40f;  position: relative; z-index: 8; color: white;font-family: 'Lato'; font-weight: 300; text-align: center; padding: 2.5em 0 2.5em; overflow: hidden}
footer ul, nav ul, .opt-nav-mobile {text-align: center; margin: 1em 0 0;}
footer li, nav li, .opt-nav li, .opt-nav-mobile li {display: inline-block; margin: 0 .5em; font-size: 1.1em; line-height: 1}
footer a {color: white;}
footer span, .opt-nav span, .opt-nav-mobile span {display: block; text-indent: -999em}



.progress {
  width: 100%;
  height: 20px;
  z-index: -1;

}

.timeline {
    width: 10px;
    height: 100%;
    background-color: #ffffff;
    left: 0;
    position: fixed;
   z-index: 100;
}



.timeline .color {
  height: 20%;

}

.timeline .color1 {
  background-color: #ffffff;
}

.timeline .color2 {
  background-color:  #1abc9c;
}

.timeline .color3 {
  background-color:  #e74c3c;
}


.timeline .color4 {
  background-color: #9b59b6;
}

.timeline .color5 {
  background-color: #f1c40f;
}











* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}



ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
  a:hover {
    text-decoration: underline;
  }

h1, h2, p, a, span{
  color: #fff;
}
  .scnd-font-color {
    color: #9099b7;
    font-family: 'Lato';
  }

  input[type=text]{
    width: 260px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 45px;
    background: #50597b;
    color: #fff;
    border: solid 1px #1f253d;
    border-radius: 5px;   
  }
    input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
        color: #fff;        
      }
    input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;     
      }
    input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
      }
    input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #fff;      
      }
      input[type=text]:focus {
        outline: none; /* removes the default orange border when focus */
        border: 1px solid #11a8ab;
      }


.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
  .horizontal-list li {
    float: left;
  }

.clear {
  clear: both;
}

.icon {
  font-size: 25px;
}

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.button , .stripe-button-el span { 
  display: block;
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
  .button:hover {
    text-decoration: none;
  }



.main-container {
  font-family: 'Ubuntu', sans-serif;
  width: 950px;
  height: 1725px;
  margin: 6em auto;
} 
  
  /** CONTAINERS **/
  .container {
    width: 300px;
    z-index: 999999;
  }
    .block {
      margin-bottom: 5px;
      background: #394264;
      border-radius: 5px;
    }
    .left-container {}
      
      .donut-chart-block {
        height: 434px;
      }
        .donut-chart-block .titular {
          padding: 10px 0;
        }
        .donut-chart {
          height: 270px;
        }
    
          .donut-chart {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 0 auto 2rem;
            border-radius: 100%
           }
          p.center-date {
            background: #394264;
            position: absolute;
            text-align: center;
            font-size: 28px;
            top:0;left:0;bottom:0;right:0;
            width: 130px;
            height: 130px;
            margin: auto;
            border-radius: 50%;
            line-height: 35px;
            padding: 15% 0 0;
          }
          .center-date span.scnd-font-color {
           line-height: 0; 
          }
        
          
        .os-percentages {
          padding-top: 32px;
        }
        .os-percentages li {
          width: 50%;
          border-left: 1px solid #394264;
          text-align: center;         
          background: #50597b;
        }
          .os {
            margin: 0;
            padding: 10px 0 5px;
            font-size: 15px;    
          }
            .os.ios {
              border-top: 4px solid #e64c65;
            }
            .os.mac {
              border-top: 4px solid #11a8ab;
            }
            .os.linux {
              border-top: 4px solid #fcb150;
            }
            .os.win {
              border-top: 4px solid #4fc4f6;
            }
          .os-percentage {
            margin: 0;
            padding: 0 0 15px 10px;
            font-size: 25px;
          }
      .line-chart-block {
        height: 400px;
      }
        .line-chart {
          height: 200px;
          background: #11a8ab;
        }


.sign-in.button:hover,  .stripe-button-el span:hover {
background: #cc324b;
}

.sign-in.button, .stripe-button-el span {
background: #e64c65;
margin: 0 auto;

}

input {
-webkit-appearance: textfield;
background-color: #e64c65;
border: 1px solid #cc324b;
padding: 5px;
float: left;
margin-top: 3px;
}

input[type=number] {
font-family: 'Lato';
font-size: 20px;
color: #fefefe;
height:49px;
width:100px;
padding-left: 1em;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 15px 12px;
    pointer-events: none;
}




.stripe-note, .stripe-note a{
  font-family: 'Lato';
font-size: 13px;
width: 300px;
font-weight: 200;
color: #0e0e0e;
text-align: center;
margin-top: 5px;


}



  
.social {
        height: 43px;
      }
       .social li {
          width: 43px;
          height:43px;                    
        }

        .social li .icon .share {
          background: transparent;
        }
          .social li .icon {
            text-align: center;
            font-size: 15px;
            margin: 0;
            line-height: 43px;
          }
         
          .social .facebook {
            background: #3468af;
         /*   border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;*/
          }
           .social .facebook .number {
              background: #1a4e95;
           /*   border-bottom-left-radius: 5px;*/
            }
           .social .twitter2 {
            background: #4fc4f6;            
          }
         /*  .social .twitter2 .icon {
              font-size: 18px;
            }*/
           
          .social .googleplus {
            background: #e64c65;            
          }
          
        .social .mailbox {
            background: #50597b;            
          /*  border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;*/
          }

.helpme {
  margin-top: 1.6em;
  padding: 0.6em;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.flat-table {
   width: 600px;
   margin-left: 10px;
    margin-bottom: 20px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
  }

 
  .flat-table td {
    color: #f7f7f7;
    padding-top: 0.7em ;
    padding-bottom: 1.2em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
      inset 0 1px rgba(0,0,0,0.25);

  }

  .flat-table td img {
    margin-bottom: -15px;
    border-radius: 50%;
  }

  #y-table {
    z-index:4;
  }


  .flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;


  }

 
  .flat-table-2 {
    background: #f06060;
  }



#mobile-chart {
  display: none;
}

#mobile-chart input {
background-color: #e64c65;
border: 1px solid #cc324b;
padding: 5px;
border-radius: 5px;
float: center;

}
 




@media only screen and (max-width: 1000px) {
   #image-me, .rails, .m-list-accessories li, #m-box--scholarhip-elements, #m-box--railsgirls-elements, .octocat, .elements, .fund-chart, .mustache , .github , .bubble, .social, .poster {
   display: none; 
   }

   #m-box--railsgirls p, #donators .donators-title, #m-box--start p, #m-box--flatiron p, #m-box--scholarhip p {
    width: 280px;
    text-align: left;
   }

   #mobile-chart {
    display: block;
   } 

   article {
    height: auto;
   }

}


            




