
.icon-mail:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-share:before { content: '\e806'; } /* '' */